@model IEnumerable<QuanLyKhoBiaNGK.Models.ReceivedBill>

@{
    ViewData["Title"] = "Quản lý đơn nhập hàng";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-success "> <i class="fa-solid fa-plus me-2"></i>Tạo mới đơn nhập hàng</a>
</p>
<table class="table table-hover table-bordered table-striped">
    <thead class="bg-info text-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="cursor: pointer;" class="clickable-row" data-href="@Url.Action("Details", new { Id = item.Id })">
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier.FullName)
                </td>
                <td>
                    @item.Total.ToString("n0")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-lg me-2"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-lg"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
