@model List<QuanLyKhoBiaNGK.ViewModels.UserWithRoles>
@{
    ViewData["Title"] = "Quản lý tài khoản";
}
<h2>@ViewData["Title"]</h2>
<p>Tổng số tài khoản: @Model?.Count</p>

<hr>
<div class="mt-3">
    <a asp-action="CreateUser" class="btn btn-success"><i class="fa-solid fa-plus me-2"></i>Tạo tài khoản</a>
</div>

<table class="table">
    <tr>
        <th>Tên người dùng</th>
        <th>Tên đăng nhập</th>
        <th>Quyền</th>
        <th>Hành động</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.FullName</td>
            <td>@user.UserName</td>
            <td>
                @if (string.IsNullOrEmpty(user.RoleNames))
                {
                    <a class="text-dark" asp-action="AddRole" asp-route-id="@user.Id">+ Thêm quyền</a>
                }
                else
                {
                    <a asp-action="AddRole" asp-route-id="@user.Id">@user.RoleNames</a>
                }
            </td>
            <td>
                <a class="btn btn-info me-2" asp-action="ResetPassword" asp-route-id="@user.Id">
                    <i class="fa-solid fa-key me-2"></i>
                    Đổi mật khẩu</a>
                <a class="btn btn-danger me-2" asp-action="SetPassword" asp-route-id="@user.Id">
                    <i class="fa-solid fa-lock me-2"></i>
                    Khóa</a>
                <a class="btn btn-outline-danger btnDeleteUser" asp-action="DeleteUser" asp-route-id="@user.Id">
                    <i class="fa-solid fa-trash-can me-2"></i>
                    Xóa</a>
            </td>
        </tr>
    }
</table>

@section Scripts {
    <script>
        $(document).ready(function() {
            $(".btnDeleteUser").click(function(e) {
                if (window.confirm("Bạn có chắc muốn xóa người dùng này?") === false) {
                    e.preventDefault();
                }
            })
        })
    </script>
}