@model IEnumerable<QuanLyKhoBiaNGK.Models.Product>

@{
    ViewData["Title"] = "Quản Lý Hàng Hóa";
}

<h1>Danh Sách Hàng Hóa</h1>

<p>
    <a class="btn btn-success" asp-action="Create"><i class="fa-solid fa-plus me-2"></i>Tạo mới danh sách</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchasePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RetailPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WholesalePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unit)
                </td>
                <td>
                    @item.PurchasePrice.ToString("n0")
                </td>
                <td>
                    @item.RetailPrice.ToString("n0")
                </td>
                <td>
                    @item.WholesalePrice.ToString("n0")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square me-2"></i>Sửa</a> |
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info me-2"></i>Chi tiết</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash me-2"></i>Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
