@model IEnumerable<QuanLyKhoBiaNGK.Models.Customer>

@{
    ViewData["Title"] = "Quản lý khách hàng";
}


<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-success" asp-action="Create"><i class="fa-solid fa-plus me-2"></i>Tạo mới khách hàng</a>
</p>
<table class="table table-striped table-bordered table-hover">
    <thead class="text-light bg-info">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="clickable-row" data-href="@Url.Action("Details", new { Id = item.Id })">
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birth)
                </td>
                <td>
                    @if (item.Gender.HasValue)
                    {
                        if (item.Gender.Value)
                        {
                            <span>Nam</span>
                        }
                        else
                        {
                            <span>Nữ</span>
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a class="btn btn-warning btn-lg me-2" asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a class="btn btn-danger btn-lg me-2" asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash "></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
